<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/fc2e75786e.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <style>
        /* Inline styles for the background image */
        .box-brown {
            /* background-image: #e3c7b4; */
            background-image: linear-gradient(to right,#FFE0CA, #964820)
        }
        .box-dash{
            background-image: linear-gradient(#FFE0CA, #bc6438)

        }
        .text-brown {
            color: #250201; /* Brown color */
        }
         .sevillana-title {
            font-family: 'Sevillana', cursive;
            font-size: 2.5em;
            text-align: center;
            margin-top: 10px;
        }
        .box-foot
        {   
            background-color:#964820
        }
    </style>
</head>


<body>
    <%- include('adminHeader') %>
  
    <div class="flex justify-normal">
        <div class="flex justify-items-start">
            <%- include('adminSideBar') %>
        <br>
        </div>

        <div class="flex-grow bg-red-100 m-24 border-2 border-red-950 rounded-2xl" >
           <form action="" id="form" method="post" class="mx-56 my-10 w-5/12">
            
            <div id="error" class="text-red-900"></div>
            <% if (message.error) { %>
                <div class=" text-center bg-red-500 text-white rounded mb-4"><%= message.error %></div>
            <% } %>

            <% if (message.success) { %>
                <div class=" text-center bg-green-700 text-white rounded mb-4"><%= message.success %></div>
            <% } %>

           
            <div class="mb-4">
                <label for="username" class="block font-bold mb-2">Category name</label>
                <input type="text" id="catname" name="catname" class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            
            <div class="mb-4">
                <label for="status" class="block font-bold mb-2">Status</label>
                <select type="name" id="status" name="status" required class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>



        
            <button type="submit" class="w-full bg-black text-white mt-4 font-bold py-2 px-4 rounded-lg">
                Add Category
            </button>
           </form>
        </div>
</div>
    <%- include('footer') %>
    <script>
        const adddate = document.getElementById('adddate');
        const catname = document.getElementById('catname');
        const form = document.getElementById('form');
        const errorElement = document.getElementById('error');
    
        form.addEventListener('submit', (e) => {
            let messages = []; 
    
        
            if (catname.value === '' || catname.value == null) {
                messages.push('Please fill in all fields.');
            }
    
    
            if (catname.value.length < 3) {
                messages.push('Category name must be at least 3 characters long.');
            } else if (catname.value.length>15){
                messages.push('category name must be less than 15 characters long.')
            }else if (!catname.value.match(/^[A-Za-z]+$/)) {
                 messages.push('Proper Category name is required without spaces and numbers');
            }

            
            if (messages.length > 0) {
                e.preventDefault(); 
                errorElement.innerText = messages.join(', '); 
            } 
        });
    </script>
    

  
</body>
</html>