<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/fc2e75786e.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <style>
        /* Inline styles for the background image */
        .box-brown {
            /* background-image: #e3c7b4; */
            background-image: linear-gradient(to right,#FFE0CA, #964820)
        }
        .box-dash{
            background-image: linear-gradient(#FFE0CA, #bc6438)

        }
        .text-brown {
            color: #250201; /* Brown color */
        }
         .sevillana-title {
            font-family: 'Sevillana', cursive;
            font-size: 2.5em;
            text-align: center;
            margin-top: 10px;
        }
        .box-foot
        {   
            background-color:#964820
        }
    </style>
</head>





<body>
    <%- include('adminheader') %>
  
    <div class="flex justify-normal">
        <div class="flex justify-items-start">
            <%- include('adminsidebar') %>
        <br>
        </div>
     
        <div class="flex-grow bg-red-100 m-24 border-2 border-red-950 rounded">
            <form action="/admin/user/search" method="post">
                <div class="flex justify-center m-10 ">
                    <input class="bg-white border border-red-900 rounded w-full m-3 py-2 px-3" type="search" placeholder="Search Category" aria-label="Search" name="sename">
                    <button class=" text-white rounded bg-red-950 m-3 px-3 py-2" type="submit">Search</button>
                </div>
            </form>

            <table class="w-4/5  m-20 p-2 align-items-center border border-red-900 rounded" >
                <tr style="background-color: rgb(119, 45, 11); color:white;">
                    <th>Sl.No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <!-- <th>Blocked</th> -->
                    <th colspan="2">Actions</th>
                </tr>
         
        
            <% if (message && message.length> 0) { %>
                <% for (let i = 0; i < message.length; i++) { %>
                    <tr>
                        <td class="px-8"><%=   i+1 %></td>
                        <td class="px-8"><%=   message[i].name %></td>
                        <td class="px-14"><%=   message[i].email %></td>
                        <!-- <td class="px-8">
                            <span class="status <%= message[i].isBlocked ? 'blocked' : 'active' %>">
                            <%= message[i].isBlocked ? 'Blocked' : 'Active' %>
                        </span></td> -->
                        <td class="px-10">
                            <form action="/admin/users/<%= message[i]._id %>/toggle-block" method="POST">
                                <select name="blockStatus" onchange="this.form.submit()" class="bg-white border border-red-900 rounded px-2 py-1">
                                    <option value="unblock" <%= !message[i].isBlocked ? 'selected' : '' %>>Unblock</option>
                                    <option value="block" <%= message[i].isBlocked ? 'selected' : '' %>>Block</option>
                                </select>
                            </form>
                            </td>
                       
        
                    </tr>
                <% }  %>
            <% } %>

            </table>
          
            </div>
        
</div>
    <%- include('footer') %>
</body>
</html>







