<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/fc2e75786e.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <style>
        /* Inline styles for the background image */
        .box-brown {
            /* background-image: #e3c7b4; */
            background-image: linear-gradient(to right,#FFE0CA, #964820)
        }
        .box-dash{
            background-image: linear-gradient(#FFE0CA, #bc6438)

        }
        .text-brown {
            color: #250201; /* Brown color */
        }
         .sevillana-title {
            font-family: 'Sevillana', cursive;
            font-size: 2.5em;
            text-align: center;
            margin-top: 10px;
        }
        .box-foot
        {   
            background-color:#964820
        }
    </style>
</head>


<body>
    <%- include('adminheader') %>
  
    <div class="flex justify-normal">
        <div class="flex justify-items-start">
            <%- include('adminsidebar') %>
        <br>
        </div>
        


        <div class="flex-grow  p-6 ">
           

            <div class=" flex justify-center gap-4">
          
                 <div class="bg-gray-100 p-4 rounded-lg shadow-lg w-64 text-center">
                    <p class="text-lg font-semibold">Total Revenue</p>
                    <p class="text-2xl font-bold text-green-500"><%= Revenue %></p>
                </div>
            
                <div class="bg-gray-100 p-4 rounded-lg shadow-lg w-64 text-center">
                    <p class="text-lg font-semibold">Total Products Ordered</p>
                    <p class="text-2xl font-bold text-blue-500"><%= productCount %></p>
                </div>
            
                <div class="bg-gray-100 p-4 rounded-lg shadow-lg w-64 text-center">
                    <p class="text-lg font-semibold">Total Products Sold</p>
                    <p class="text-2xl font-bold text-green-500"><%= deliveredProductCount %></p>
                </div>
            
       
                <div class="bg-gray-100 p-4 rounded-lg shadow-lg w-64 text-center">
                    <p class="text-lg font-semibold">Total Orders</p>
                    <p class="text-2xl font-bold text-blue-500"><%= orderCount %></p>
                </div>
            </div>
            <br>
            <br>

            <main class="">
                <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-gray-100 border-4 border-green-400">

                    <div class="grid grid-cols-12 gap-6">
                        <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                            <div class="col-span-12 mt-8">
                                <div class="flex items-center h-10 intro-y">
                                    <h2 class="mr-5 text-lg font-medium truncate">Dashboard</h2>
                                </div>
                                <div class="grid grid-cols-12 gap-6 mt-5">
                                   
                                

                                    <form id="filterForm">
                                        <label>Filter</label>
                                        <select name="filter" class="text-gray-700 text-sm font-bold mb-2" id="filter">
                                            <option value="all">All</option>
                                            <option value="thisDay">Today</option>
                                            <option value="thisMonth">This Month</option>
                                            <option value="thisWeek">This Week</option>
                                            <option value="thisYear">This Year</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-span-12 mt-5">
                                <div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
                                    <div class="bg-white shadow-lg p-4 " id="chartline"></div>
                                    <div class="bg-white shadow-lg" id="chartpie"></div>
                                </div>
                                <div>
                                    
                                </div>
                            </div>
                            <div class="col-span-12 mt-5">
                                <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
                                    <div class="bg-white p-4 shadow-lg rounded-lg">
                                        <% if(products && products.length>0){ %>
                                        <h1 class="font-bold text-base">Best Selling Products</h1>
                                        <div class="mt-4">
                                            <div class="flex flex-col">
                                                <div class="-my-2 overflow-x-auto">
                                                    <div class="py-2 align-middle inline-block min-w-full">
                                                        <div
                                                            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                                            <table class="min-w-full divide-y divide-gray-200">
                                                                <thead>
                                                                    <tr>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">PRODUCT NAME</span>
                                                                            </div>
                                                                        </th>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">PRODUCT CATEGORY</span>
                                                                            </div>
                                                                        </th>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">STOCK</span>
                                                                            </div>
                                                                        </th>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">SALES COUNT</span>
                                                                            </div>
                                                                        </th>

                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">STATUS</span>
                                                                            </div>
                                                                        </th>
                                                                        <!-- <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">ACTION</span>
                                                                            </div>
                                                                        </th> -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="bg-white divide-y divide-gray-200">
                                                                   
                                                                        <% products.forEach(function(product){ %>
                                                                    <tr>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%= product.productName %></p>
                                                                           
                                                                        </td>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%=product.productCategory.categoryName%> </p>
                                                                        </td>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%=product.productQuantity %></p>
                                                                        </td>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%=product.totalQuantity %></p>
                                                                        </td>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <!-- <div class="flex text-green-500">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    class="w-5 h-5 mr-1" fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    stroke="currentColor">
                                                                                    <path stroke-linecap="round"
                                                                                        stroke-linejoin="round"
                                                                                        stroke-width="2"
                                                                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                                                </svg>
                                                                                <p><%= product.isDeleted? 'InActive':'Active' %></p>
                                                                            </div> -->
                                                                            <div class="<%= product.isDeleted ? 'text-red-500' : 'text-green-500' %> flex">
                                                                                <p><%= product.isDeleted ? 'InActive' : 'Active' %></p>
                                                                            </div>
                                                                            
                                                                        </td>
                                                                      
                                                                    </tr>
                                                                    <% }) %>                                                   
                                                            <% }%>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        



                            <div class="col-span-12 mt-5">
                                <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
                                    <div class="bg-white p-4 shadow-lg rounded-lg">
                                        <% if(products && products.length>0){ %>
                                        <h1 class="font-bold text-base">Best Selling Categories</h1>
                                        <div class="mt-4">
                                            <div class="flex flex-col">
                                                <div class="-my-2 overflow-x-auto">
                                                    <div class="py-2 align-middle inline-block min-w-full">
                                                        <div
                                                            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                                            <table class="min-w-full divide-y divide-gray-200">
                                                                <thead>
                                                                    <tr>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">CATEGORY NAME</span>
                                                                            </div>
                                                                        </th>
                                                                        <th
                                                                            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                                            <div class="flex cursor-pointer">
                                                                                <span class="mr-2">SALES COUNT</span>
                                                                            </div>
                                                                        </th>
                                                                      
                                                                      
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="bg-white divide-y divide-gray-200">
                                                                 
                                                                        <% bestCategories.forEach(([category, count]) => { %>
                                                                    <tr>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%= category %></p>
                                                                           
                                                                        </td>
                                                                        <td
                                                                            class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                                            <p><%=count%> </p>
                                                                        </td>
                                                                      
                                                                                    </tr>
                                                                    <% }) %>                                                   
                                                            <% }%>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
   


<script>
    let chart1 = null;  

function updateChart(filteredOrders) {
    
    if (chart1) {
        chart1.destroy();
    }

    
    const salesByDate = filteredOrders.reduce((acc, order) => {
        const orderDate = new Date(order.createdAt).toLocaleDateString();
        if (acc[orderDate]) {
            acc[orderDate] += order.totalPayablePrice;
        } else {
            acc[orderDate] = order.totalPayablePrice;
        }
        return acc;
    }, {});

    
    const sortedDates = Object.keys(salesByDate).sort((a, b) => new Date(a) - new Date(b));
    const sortedSales = sortedDates.map(date => salesByDate[date]);

    let  sortedProfitSales = sortedSales.map(sale => sale * 0.2);



    const options = {
        series: [{
            name: 'Total Price',
            type:'area',
            data: sortedSales 
        },
        {
            name: 'Total Profit Price',
            type:'line',
            data: sortedProfitSales 
            
        }
    ],
        chart: {
            type: 'line',
            height: 350,
            zoom: {
                enabled: false
            }
        },
        stroke: {
            curve: 'smooth'
        },
        title: {
            text: 'Total Sales Over Time',
            align: 'left'
        },
        xaxis: {
            categories: sortedDates, 
            title: {
                text: 'Time'
            }
        },
        yaxis: {
            title: {
                text: 'Total Sales (in Rs.)'
            },
            labels: {
            formatter: function(value) {
                return Math.round(value); 
            }
        }
        },
        tooltip: {
            y: {
                formatter: function(value) {
                    return "₹" + Math.round(value);
                }
            }
        }
    };

 
    chart1 = new ApexCharts(document.querySelector("#chartline"), options);
    chart1.render();
}


    async function fetchFilteredOrders(filterValue) {
        try {
            const response = await fetch('/admin/home/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    filter: filterValue, 
                }),
            });
            const data = await response.json(); 
            if (data.filteredOrders) {
                updateChart(data.filteredOrders); 
            } else {
                console.log("Error: No filtered orders received.");
            }
        } catch (error) {
            console.log("Error in filter management:", error); 
        }
    }

    document.getElementById('filter').addEventListener('change', function() {
        const filterValue = document.getElementById('filter').value || 'all'; 
        fetchFilteredOrders(filterValue); 
    });

   
    document.addEventListener('DOMContentLoaded', function() {
        fetchFilteredOrders('all'); 
    });
</script>

    </script>













    <script>
      
    let data = <%- JSON.stringify(categoryProductCount) %>;


    let seriesData = data.map(item => item.productCount*5);
    let labelsData = data.map(item => item.categoryName);
   

    let chart = document.querySelector('#chartpie');

    let options = {
        series: seriesData, 
        chart: {
            height: 350,
            type: 'radialBar',
        },
        title:{
            text:'Products in Each Category',
            align:'center',
            offsetY:20,
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: {
                        fontSize: '22px',
                    },
                    value: {
                        fontSize: '16px',
                        formatter: function(val) {
                            return val/5; 
                        }
                    },
                    total: {
                        show: true,
                        label: 'Total',
                        formatter: function(w) {
                            return (seriesData.reduce((acc, count) => acc + count, 0))/5;
                        }
                    }
                },
                max: 60,
            },
            
        },
        labels: labelsData, 
        // colors: [ '#FF0000', '#6FC5FD','#FFA500','#008000','#6FFDCC','#FDE474']
    };

     chart = new ApexCharts(chart, options);
    chart.render();
</script>

    </script>

 
   </div>
</div>
   
</body>
</html>


