
    <div class="bg-black text-black h-3 w-full"></div>
    <div class=" box-brown  m-0  ">
      <header class="flex justify-around w-full">
        <div class="relative mb-2 sevillana-title text-center text-brown text-opacity-100">Pelle Eterno</div>
        <div>
        <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1725854174/products/caehmjvrf6qftxa9la9f.jpg" alt="logo" class=" h-20 w-20 ml-auto "></div>
      </header>
    
    </div>
    <header class='flex shadow-sm bg-black font-[sans-serif] min-h-[30px]'>
        <div
          class='flex flex-wrap items-center justify-between sm:px-10 px-6 py-3 relative lg:gap-y-4 gap-y-6 gap-x-4 w-full'>
      
          <div class="flex">
            <button id="toggleOpen">
          
            </button>
          
          </div>
      
        
       <div class="bg-gray-100 flex items-center border-2 max-md:order-1 border-transparent focus-within:border-blue-500 focus-within:bg-transparent px-3 rounded-sm h-8 lg:w-1/4 max-md:w-full">
        <form id="searchForm" action="/user/search" method="post" class="flex items-center w-full">
            <input type='text' placeholder='Search...' name="searchvalue" class="w-full outline-none bg-transparent text-[#fff] text-sm" />
            <button type="submit" class="outline-none bg-transparent p-0 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
                    class="fill-gray-400 ml-2 cursor-pointer">
                    <path d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                    </path>
                </svg>
            </button>
        </form>
    </div>
    
    
          <div class='flex items-center space-x-8  max-md:ml-auto'>
            <a href="/user/home">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" class="cursor-pointer fill-[#fff] hover:fill-[#077bff]"
              viewBox="0 0 511 511.999">
              <path
                d="M498.7 222.695c-.016-.011-.028-.027-.04-.039L289.805 13.81C280.902 4.902 269.066 0 256.477 0c-12.59 0-24.426 4.902-33.332 13.809L14.398 222.55c-.07.07-.144.144-.21.215-18.282 18.386-18.25 48.218.09 66.558 8.378 8.383 19.44 13.235 31.273 13.746.484.047.969.07 1.457.07h8.32v153.696c0 30.418 24.75 55.164 55.168 55.164h81.711c8.285 0 15-6.719 15-15V376.5c0-13.879 11.293-25.168 25.172-25.168h48.195c13.88 0 25.168 11.29 25.168 25.168V497c0 8.281 6.715 15 15 15h81.711c30.422 0 55.168-24.746 55.168-55.164V303.14h7.719c12.586 0 24.422-4.903 33.332-13.813 18.36-18.367 18.367-48.254.027-66.633zm-21.243 45.422a17.03 17.03 0 0 1-12.117 5.024h-22.72c-8.285 0-15 6.714-15 15v168.695c0 13.875-11.289 25.164-25.168 25.164h-66.71V376.5c0-30.418-24.747-55.168-55.169-55.168H232.38c-30.422 0-55.172 24.75-55.172 55.168V482h-66.71c-13.876 0-25.169-11.29-25.169-25.164V288.14c0-8.286-6.715-15-15-15H48a13.9 13.9 0 0 0-.703-.032c-4.469-.078-8.66-1.851-11.8-4.996-6.68-6.68-6.68-17.55 0-24.234.003 0 .003-.004.007-.008l.012-.012L244.363 35.02A17.003 17.003 0 0 1 256.477 30c4.574 0 8.875 1.781 12.113 5.02l208.8 208.796.098.094c6.645 6.692 6.633 17.54-.031 24.207zm0 0"
                data-original="#000000" />
            </svg></a>
            <div class="relative font-[sans-serif] w-max mx-auto">
                
                <button type="button" id="dropdownToggle"
                  class="px-3 py-2.5 text-white text-sm outline-none bg-black"><a href="/user/allproducts">
            All Product</a>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500 inline ml-3" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                      d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
                      clip-rule="evenodd" data-original="#000000" />
                  </svg>
                </button>
          
                <ul id="dropdownMenu" class='absolute hidden shadow-[0_8px_19px_-7px_rgba(6,81,237,0.2)] bg-white py-2 z-[1000] min-w-full w-max divide-y max-h-96 overflow-auto'>
               
                    <% productCollection.forEach((category) => { %>
                        <li class="text-center">
                            <!-- <a href="/user/allproducts?id=<%= category._id %>"> -->
                            <a href="/user/allproducts?category=<%= category._id %>&minPrice=<%= query.minPrice || '' %>&maxPrice=<%= query.maxPrice || '' %>&type=<%= query.type || '' %>&sortstyle=<%= query.sortstyle || '' %>">
                              <%= category.categoryName %></a>
                        </li>
                    <% }) %>
                </ul>
                
              </div>

              <a href="/user/wishList">
             <svg xmlns="http://www.w3.org/2000/svg" width="18px" class="cursor-pointer fill-[#fff] hover:fill-[#077bff]" height="18px" viewBox="0 0 64 64">
                    <path
                      d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
                      data-original="#000000"></path>
                  </svg>
            </a>  
            <a href="/user/addtocart">
            <svg xmlns="http://www.w3.org/2000/svg" width="18px"
              class="cursor-pointer fill-[#fff] hover:fill-[#007bff]" viewBox="0 0 512 512">
              <path
                d="M164.96 300.004h.024c.02 0 .04-.004.059-.004H437a15.003 15.003 0 0 0 14.422-10.879l60-210a15.003 15.003 0 0 0-2.445-13.152A15.006 15.006 0 0 0 497 60H130.367l-10.722-48.254A15.003 15.003 0 0 0 105 0H15C6.715 0 0 6.715 0 15s6.715 15 15 15h77.969c1.898 8.55 51.312 230.918 54.156 243.71C131.184 280.64 120 296.536 120 315c0 24.812 20.188 45 45 45h272c8.285 0 15-6.715 15-15s-6.715-15-15-15H165c-8.27 0-15-6.73-15-15 0-8.258 6.707-14.977 14.96-14.996zM477.114 90l-51.43 180H177.032l-40-180zM150 405c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm167 15c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm0 0"
                data-original="#000000"></path>
            </svg></a>
            <% if(!sessionuser){ %>
            <button 
            class='px-5 py-2 text-sm rounded-full text-black border-2 border-[#fff] bg-[#fff] hover:bg-[#cbccd0] '><a href="/user/signup">Sign In</a></button>
            
           <% } else { %>
       <div class="relative font-[sans-serif] px-3 w-max mx-auto">
        <!-- Profile Button -->
        <button id="dropdownProfile" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" class="fill-[#fff] hover:fill-[#077bff]"
            viewBox="0 0 512 512">
            <path d="M337.711 241.3a16 16 0 0 0-11.461 3.988c-18.739 16.561-43.688 25.682-70.25 25.682s-51.511-9.121-70.25-25.683a16.007 16.007 0 0 0-11.461-3.988c-78.926 4.274-140.752 63.672-140.752 135.224v107.152C33.537 499.293 46.9 512 63.332 512h385.336c16.429 0 29.8-12.707 29.8-28.325V376.523c-.005-71.552-61.831-130.95-140.757-135.223zM446.463 480H65.537V376.523c0-52.739 45.359-96.888 104.351-102.8C193.75 292.63 224.055 302.97 256 302.97s62.25-10.34 86.112-29.245c58.992 5.91 104.351 50.059 104.351 102.8zM256 234.375a117.188 117.188 0 1 0-117.188-117.187A117.32 117.32 0 0 0 256 234.375zM256 32a85.188 85.188 0 1 1-85.188 85.188A85.284 85.284 0 0 1 256 32z"/>
          </svg>
        </button>
      
        <!-- Signout Dropdown -->
        <ul id="dropdownSignout" class="absolute hidden shadow-[0_8px_19px_-7px_rgba(6,81,237,0.2)] bg-white py-2 z-[1000] bg-rounded min-w-max">
          <li><a href="/user/profile"><li class="py-2 px-2 hover:bg-gray-50 text-gray-800 text-sm cursor-pointer">Profile</li> </li>
          <li><a href="/user/logout"><li class="py-2 px-2 hover:bg-gray-50 text-gray-800 text-sm cursor-pointer">SignOut</li></a><li></li>
        </ul>
      </div>
      <!-- <div>
        <a href="#">Hello</a>
      </div> -->
      <% } %>
        <div id="collapseMenu"
          class='hidden before:fixed before:bg-black before:opacity-40 before:inset-0 max-lg:before:z-50'>
          <button id="toggleClose" class='fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
              <path
                d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                data-original="#000000"></path>
              <path
                d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                data-original="#000000"></path>
            </svg>
          </button>
      
          <ul
            class='block space-x-4 space-y-3 fixed bg-white w-1/2 min-w-[300px] top-0 left-0 p-4 h-full shadow-md overflow-auto z-50'>
            <li class='pb-4 px-3'>
              <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
              </a>
            </li>
            <li class='border-b pb-4 px-3 hidden'>
              <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
              </a>
            </li>
            <li class='border-b py-3 px-3'>
              <a href='javascript:void(0)' class='hover:text-[#007bff] text-[#007bff] block font-semibold text-base'>Home</a>
            </li>
            <li class='border-b py-3 px-3'><a href='javascript:void(0)'
                class='hover:text-[#007bff] text-black block font-semibold text-base'>Team</a>
            </li>
            <li class='border-b py-3 px-3'><a href='javascript:void(0)'
                class='hover:text-[#007bff] text-black block font-semibold text-base'>Feature</a>
            </li>
            <li class='border-b py-3 px-3'><a href='javascript:void(0)'
                class='hover:text-[#007bff] text-black block font-semibold text-base'>Blog</a>
            </li>
            <li class='border-b py-3 px-3'><a href='javascript:void(0)'
                class='hover:text-[#007bff] text-black block font-semibold text-base'>About</a>
            </li>
            <li class='border-b py-3 px-3'><a href='javascript:void(0)'
                class='hover:text-[#007bff] text-black block font-semibold text-base'>Contact</a>
            </li>
          </ul>
        </div>
      </header>
      <script>
        // JavaScript to toggle the dropdown menu visibility
        const dropdownToggle = document.getElementById('dropdownToggle');
        const dropdownMenu = document.getElementById('dropdownMenu');
        const dropdownProfile = document.getElementById('dropdownProfile');
        const dropdownSignout = document.getElementById('dropdownSignout');
        

        dropdownToggle.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });
       
        dropdownProfile.addEventListener('click', () => {
            dropdownSignout.classList.toggle('hidden');
        });

        document.addEventListener('click', (e) => {
            if (!dropdownToggle.contains(e.target) && !dropdownMenu.contains(e.target)) {
                dropdownMenu.classList.add('hidden');
            }
            if (!dropdownProfile.contains(e.target) && !dropdownSignout.contains(e.target)) {
              dropdownSignout.classList.add('hidden');}
            
        });
        
    </script>
