<div class="flex-grow m-5 lg:m-6   rounded">
   

    
    <div class="flex flex-wrap justify-between m-5">
        <% product.forEach(product=>{  %>
          <div class="w-40 md:w-1/4 bg-gray-100 p-2 rounded-lg shadow-md mb-5 m-5 sm:w-1/2">
            <a href="/user/productdetail/<%= product.id %>"><img src="<%= product.productImages[0] %>" alt="<%= product.productName %>" class="w-full lg:h-48  object-cover rounded-lg"></a>
            <h6 class="text-sm font-serif font-semibold mt-2"><%= product.productName %></h6>
            <div>
              <% if(product.productDiscount > 0) { %>
                  <h3 class="text-black text-sm font-serif inline-block">
                    Rs. <%= product.productPrice - (product.productPrice * (product.productDiscount / 100)) %>
                      <del>Rs. <%= product.productPrice %></del>
                     
                  </h3>
              <% } else { %>
                  <h3 class="text-black text-sm font-serif inline-block">
                      Rs. <%= product.productPrice %>
                  </h3>
              <% } %>
          </div>
          </div>
        <% }); %>
      </div>

     
      <!-- <div class="flex justify-center mt-4 mb-8">
        <% if (currentPage > 1) { %>
            <a href="/user/allproducts?page=<%= currentPage - 1%>&id=<%=catid%>" class="px-4 py-2 bg-gray-300 border border-gray-500 rounded mr-2"><--</a>
        <% } %>
    
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/user/allproducts?page=<%= i %>&id=<%=catid%>" class="px-4 py-2 bg-gray-300 border border-gray-500 rounded <%= currentPage === i ? 'bg-red-500 text-white' : '' %>">
                <%= i %>
            </a>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a href="/user/allproducts?page=<%= currentPage + 1 %>&id=<%=catid%>" class="px-4 py-2 bg-gray-300 border border-gray-500 rounded ml-2">--></a>
        <!-- <% } %>
    </div>  -->


    <div class="flex justify-center space-x-2">
        <% if (currentPage > 1) { %>
            <a href="/user/allproducts?page=<%= currentPage - 1 %>&category=<%=catid%>&minPrice=<%= query.minPrice %>&maxPrice=<%= query.maxPrice %>&type=<%= query.type %>&sortstyle=<%= query.sortstyle %>"
               class="px-2  bg-gray-300 border border-gray-500 rounded mr-1"><--</a>
        <% } %>
    
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/user/allproducts?page=<%= i %>&category=<%=catid%>&minPrice=<%= query.minPrice %>&maxPrice=<%= query.maxPrice %>&type=<%= query.type %>&sortstyle=<%= query.sortstyle %>"
               class="px-2  bg-gray-300 border border-gray-500 rounded <%= currentPage === i ? 'bg-red-500 text-white' : '' %>">
                <%= i %>
            </a>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a href="/user/allproducts?page=<%= currentPage + 1 %>&category=<%=catid%>&minPrice=<%= query.minPrice %>&maxPrice=<%= query.maxPrice %>&type=<%= query.type %>&sortstyle=<%= query.sortstyle %>"
               class="px-2  bg-gray-300 border border-gray-500 rounded ml-2">--></a>
        <% } %>
    </div>
    
    </div>