


<div class="container mx-auto my-10 px-5">
    <h1 class="text-center  font-serif font-semibold">NEW ARRIVALS</h1>
  <div class="flex flex-wrap justify-between m-5">
    <% recentproduct.forEach(product=>{  %>
      <div class="w-full  sm:w-1/2  md:w-1/5 bg-gray-100 p-2 rounded-lg shadow-md mb-5">
        <a href="/user/productdetail/<%= product.id %>"><img src="<%= product.productImages[0] %>" alt="<%= product.productName %>" class="w-full h-64 object-cover rounded-lg"></a>
        <h6 class="text-sm font-serif font-semibold mt-2"><%= product.productName %></h6>
        <div>
          <% if(product.productDiscount > 0) { %>
              <h3 class="text-black text-sm font-serif inline-block">
                Rs. <%= product.productPrice - (product.productPrice * (product.productDiscount / 100)).toFixed(2) %>
                  <del>Rs. <%= product.productPrice.toFixed(2) %></del>
                 
              </h3>
          <% } else { %>
              <h3 class="text-black text-sm font-serif inline-block">
                  Rs. <%= product.productPrice %>
              </h3>
          <% } %>
          <% if(product.productQuantity<=0){ %>
         
            <p class="text-red-500">Out of Stock</p>
       <% } else { %>
             <p class= "text-green-700 text-xs font-medium">In Stock</p>
       <% }  %>
      </div>
      </div>
    <% }); %>
  </div>
</div>
