
  <h1 class="text-center font-serif font-semibold">MOST LOVED DESIGNS</h1>
  <div class="flex flex-wrap justify-around m-5">
    <% viewproduct.forEach(product => { %>
      <div class="w-full md:w-1/5 bg-gray-100 p-2 rounded-lg shadow-md mb-5">
        <a href="/user/productdetail/<%= product.id %>"><img src="<%= product.productImages[0] %>" alt="<%= product.productName %>" class="w-full h-auto object-cover rounded-lg"></a> <!-- Changed width and height -->
        <h6 class="text-sm font-serif font-semibold mt-2"><%= product.productName %></h6>
        <div>
          <% if(product.productDiscount > 0) { %>
              <h3 class="text-black text-sm font-serif inline-block">
                Rs. <%= Math.ceil(product.productPrice - (product.productPrice * (product.productDiscount / 100))) %>
                  <del>Rs. <%= product.productPrice %></del>
                 
              </h3>
          <% } else { %>
              <h3 class="text-black text-sm font-serif inline-block">
                  Rs. <%= product.productPrice %>
              </h3>
          <% } %>
          <% if(product.productQuantity<=0){ %>
         
            <p class="text-red-500">Out of Stock</p>
       <% } else { %>
             <p class= "text-green-700 text-xs font-medium">In Stock</p>
       <% }  %>
      </div>
      </div>
    <% }); %>
</div>
