<h1 class="font-serif font-semibold mt-5 text-lg px-2">Related Products</h1>
<div class="flex flex-wrap justify-around m-5">
  <% relateproduct.forEach(product => { %>
    <div class="w-40 md:w-40 bg-gray-100 p-2 rounded-lg shadow-md mb-5">
      <a href="/user/productdetail/<%= product.id %>"><img src="<%= product.productImages[0] %>" alt="<%= product.productName %>" class="w-52 h-40 object-cover rounded-lg"></a> <!-- Changed width and height -->
      <h6 class="text-sm font-serif font-semibold mt-2"><%= product.productName %></h6>
      <div>
        <% if(product.productDiscount > 0) { %>
            <h3 class="text-black text-sm font-serif inline-block">
              Rs. <%= Math.ceil(product.productPrice - (product.productPrice * (product.productDiscount / 100))) %>
                <del>Rs. <%= product.productPrice %></del>
               
            </h3>
        <% } else { %>
            <h3 class="text-black text-sm font-serif inline-block">
                Rs. <%= product.productPrice %>
            </h3>
        <% } %>
    </div>
    </div>
  <% }); %>
</div>
